<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="32" android:compileSdkVersionCodename="13" android:versionCode="5000500" android:versionName="5.2" package="Sicepat.com.smseye" platformBuildVersionCode="32" platformBuildVersionName="13">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<permission android:name="abyssalarmy.smseye.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSIONoqif" android:protectionLevel="signature" />
	<uses-permission android:name="abyssalarmy.smseye.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSIONoqif" />
	<application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:dataExtractionRules="@xml/data_extraction_rules" android:debuggable="true" android:fullBackupContent="@xml/backup_rules" android:icon="@drawable/moon" android:label="@string/app_name" android:roundIcon="@drawable/moon" android:supportsRtl="true" android:theme="@style/Theme.SmsEye">
		<activity android:exported="true" android:label="@string/app_name" android:name="abyssalarmy.smseye.SmsEyeMainActivity" android:theme="@style/Theme.SmsEye">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:exported="true" android:name="abyssalarmy.smseye.SmsEyeReceivers.SmsEyeSmsListener">
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>
		<activity android:exported="true" android:name="androidx.compose.ui.tooling.PreviewActivity" />
		<activity android:name="com.karumi.dexter.DexterActivity" android:theme="@style/Dexter.Internal.Theme.Transparent" />
		<provider android:authorities="Sicepat.com.smseye.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
			<meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup" />
		</provider>
		<receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
			<intent-filter>
				<action android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
			</intent-filter>
			<intent-filter>
				<action android:name="androidx.profileinstaller.action.SKIP_FILE" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
